.ResetContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.ResetTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 0px;
  margin-top: 0;
}
.ResetForm {
  width: 300px;
  margin-top: 0;
  margin-left: -240px;
}

.inputContainer {
  margin-bottom: 10px;
}

.ResetinputField {
  width: 200%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.ResetButton {
  background-color: black;
  color: white;
  width: 210%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 300px;
}
